/* Coolors Exported Palette - https://coolors.co/c3d8a3-ffe1a2-e26d54-723d46-470f01 */

/* CSS HEX */
--tea-green: #c3d8a3ff;
--peach: #ffe1a2ff;
--terra-cotta: #e26d54ff;
--catawba: #723d46ff;
--black-bean: #470f01ff;

/* CSS HSL */
--tea-green: hsla(84, 40%, 74%, 1);
--peach: hsla(41, 100%, 82%, 1);
--terra-cotta: hsla(11, 71%, 61%, 1);
--catawba: hsla(350, 30%, 34%, 1);
--black-bean: hsla(12, 97%, 14%, 1);

/* SCSS HEX */
$tea-green: #c3d8a3ff;
$peach: #ffe1a2ff;
$terra-cotta: #e26d54ff;
$catawba: #723d46ff;
$black-bean: #470f01ff;

/* SCSS HSL */
$tea-green: hsla(84, 40%, 74%, 1);
$peach: hsla(41, 100%, 82%, 1);
$terra-cotta: hsla(11, 71%, 61%, 1);
$catawba: hsla(350, 30%, 34%, 1);
$black-bean: hsla(12, 97%, 14%, 1);

/* SCSS RGB */
$tea-green: rgba(195, 216, 163, 1);
$peach: rgba(255, 225, 162, 1);
$terra-cotta: rgba(226, 109, 84, 1);
$catawba: rgba(114, 61, 70, 1);
$black-bean: rgba(71, 15, 1, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #c3d8a3ff, #ffe1a2ff, #e26d54ff, #723d46ff, #470f01ff);
$gradient-right: linear-gradient(90deg, #c3d8a3ff, #ffe1a2ff, #e26d54ff, #723d46ff, #470f01ff);
$gradient-bottom: linear-gradient(180deg, #c3d8a3ff, #ffe1a2ff, #e26d54ff, #723d46ff, #470f01ff);
$gradient-left: linear-gradient(270deg, #c3d8a3ff, #ffe1a2ff, #e26d54ff, #723d46ff, #470f01ff);
$gradient-top-right: linear-gradient(45deg, #c3d8a3ff, #ffe1a2ff, #e26d54ff, #723d46ff, #470f01ff);
$gradient-bottom-right: linear-gradient(135deg, #c3d8a3ff, #ffe1a2ff, #e26d54ff, #723d46ff, #470f01ff);
$gradient-top-left: linear-gradient(225deg, #c3d8a3ff, #ffe1a2ff, #e26d54ff, #723d46ff, #470f01ff);
$gradient-bottom-left: linear-gradient(315deg, #c3d8a3ff, #ffe1a2ff, #e26d54ff, #723d46ff, #470f01ff);
$gradient-radial: radial-gradient(#c3d8a3ff, #ffe1a2ff, #e26d54ff, #723d46ff, #470f01ff);