/* Basic style for skeleton purposes */

#navbar ul{
    display: flex;
}

#navbar li {
    display: flex;
    padding: 10px;
}

#navbar a {
    text-decoration: none;
    color: var(--orange);
    /* padding: 10px; */
    font-size: 27px;
}

#navbar a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    color: rgb(255, 86, 48);
}