#home-main {
    width: 100%;
    text-align: justify;
} 

.home-section {
    width: 300px;
    height: 100px;
    padding: 17px;
    font-size: 1.5em;
    display: inline-block;
    vertical-align: top;
}

#hours {
    text-align: center;
}